ansible==2.9.2
coverage==4.5.4
httpretty==0.9.6
pycodestyle==2.4.0
pydocstyle==3.0.0
pylint>=1.9.5
pytest>=4.6.7
pytest-xdist==1.30.0
pytest-cov==2.7.1
yamllint>=1.19.0
# We'll need to replace this with a proper package once we cut a release.
git+https://github.com/testeddoughnut/opsyclient.git@dev
